.cards-wrapper {
  text-align: center;
  height: 800px;
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}

.cards {
  height: 150px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin: 25px;
}

.cards-detail {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.cards-detail img {
  height: 130px;
  margin-right: 20px;
}

.user-info {
  text-align: left;
}

.user-info b {
  padding: 4px;
}

.card-name {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
  text-align: left;
  margin: 0;
}
