::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.cards-wrapper {
  text-align: center;
  height: 800px;
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}

.cards {
  height: 150px;
  box-shadow: rgb(0 0 0 / 24%) 0 1px 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  width: 94%;
}

.cards-detail {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.cards-detail img {
  height: 130px;
  margin-left: 10px;
  margin-right: 20px;
}

.user-info {
  text-align: left;
}

.user-info b {
  padding: 4px;
}

.card-name {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
  text-align: left;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .cards-wrapper {
    width: 100%;
  }
  .cards-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .cards-detail img {
    height: 110px;
    margin-right: 10px;
  }
  .cards {
    height: 130px;
    margin: 6% 3%;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-wrapper {
    width: 100%;
  }
}
